body{
	margin-top: 2em;
	background-color: #2F3336;
	color: #efefef;
	font-family: 'Source Serif Pro', serif;

}

.helloContainer
{					
	margin-top: 18vh;
	text-align:center;	
	font-weight: bold;
}

footer{
	font-family: 'Source Serif Pro', serif;
	margin-left: auto;
	margin-right: auto;
}
textarea{
	font-family: 'Source Serif Pro', serif;
	resize: none !important;
}
.selector-for-some-widget {
	font-family: 'Source Serif Pro', serif;
	box-sizing: content-box;
}
.modal-footer, .modal-body, .modal-header {
	font-family: 'Source Serif Pro', serif;
	background-color: yellowgreen;
	color: black;
}