{% extends 'base.html' %}

{% block title %}Odzyskiwanie hasła{% endblock %}

{% block body %}

<div class="col p-5 helloContainer">
    <div class="container text-center">
        <h1>Żądanie restartu hasło</h1>
    </div>

    
    <form method="post" action="/password/request-reset">
    <div class="row justify-content-md-center text-center">
        <div class="col-lg-6">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <span class="input-group-text">@</span>
                        <input class="form-control" type="email" id="inputEmail" name="email" placeholder="E-mail" autofocus required class="form-control" />
                    </div>
                </div> 
                <p></p>
                <div class="container text-center"> 
                    <button class="btn btn-success" type="submit">Zresetuj hasło</button>
                </div>
        </div>
    </div>
        
        
    </form>
</div>
    

{% endblock %}
