{% extends 'base.html' %}

{% block title %}Bilans{% endblock %}




{% block body %}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col p-5" >
            <form action="/balance/show" method="post">
                <h3> Pokaż bilans swoich finansów </h3>

                <p>Tu możesz sprawdzić stan swoich finansów.</p>

                <div class="form-group mt-1">
                    <legend class="col-sm-2 col-form-label col-form-label-sm"> Kategoria: </legend>
                    <select class="form-select" multiple aria-label="multiple select example" name = "selectTimePeriode" id="myselect">
                        <option selected value = 0>Bieżący miesiąc</option>
                        <option value = 1>Poprzedni miesiąc</option>
                        <option value = 2>Bieżący rok</option>
                        <option value = 3 data-bs-toggle="modal" data-bs-target="#exampleModal">Niestandardowy</option>
                    </select> 

                    <div class="form-group p-3">
                        <button class="btn btn-success" type="submit" class="btn btn-default">Pokaż bilans</button>
                        <a class="nav-link" href="/balance/new">Anuluj</a>
                    </div> 

                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">  
                                <div class="modal-header">
                                    <h4>Wybierz niestatndardowy przedział czasowy</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <fieldset>
                                        <legend class="col-sm-2 col-form-label col-form-label-sm"> Data początku</legend>
                                        <input class="form-control"  type="date" value="current_date" name = "dateBegin" min="2000-01-01" id="dateBegin">
                                    </fieldset>
                                    <fieldset>
                                        <legend class="col-sm-2 col-form-label col-form-label-sm"> Data końca</legend>
                                        <input class="form-control"  type="date" value="current_date" name = "dateEnd" min="2000-01-01" id="dateEnd">
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                    <button class="btn btn-success" type="submit">Pokaż bilans</button>
                                </div>
                        </div>
                    </div>
                </div>
            </form>                    
            <div class="container text-center">
                <div class="container text-center">
                    <h3>Nowy bilans</h3>
                </div>  
                <div class="row align-items-start">
                    <div class="col">
                        <table class="table table-dark table-striped table-bordered border-light" id="incomes">
                            <thead>
                            <tr>
                                <th colspan="2" scope="col" class="table-success text-center">Przychody</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for incomeSum in allUserIncomes %}
                            <tr>
                                <td>Suma Twoich przychodów:</td>
                                {% if incomeSum.sum > 0 %}
                                <td  class="text-center"> {{ incomeSum.sum }} zł</td> 
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% for salary in allSalary %}
                            <tr>
                                <td>Wynagrodzenie:</td>
                                {% if salary.sum > 0 %}
                                <td class="text-center">{{ salary.sum }} zł</td> 
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %}                     
                            </tr>
                            {% endfor %}
                            {% for interst in allIntrest %}
                            <tr>
                                <td>Odsetki bankowe:</td>
                                {% if interst.sum > 0 %}
                                 <td class="text-center">{{ interst.sum }} zł</td>
                                 {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %} 
                            </tr>
                            {% endfor %}
                            {% for allegro in allAllegro %}
                            <tr>
                                <td>Sprzedaż na Allegro:</td>
                                {% if allegro.sum > 0 %}
                                <td class="text-center">{{ allegro.sum }} zł</td>
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %} 
                            </tr>
                            {% endfor %}
                            {% for another in allAnother %}
                            <tr>
                                <td>Inne przychody:</td>
                                {% if another.sum > 0 %}
                                <td class="text-center">{{ another.sum }} zł</td>
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %} 
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-dark table-striped table-bordered border-light" id="expense">
                            <thead>
                                <tr>
                                    <th colspan="2" scope="col" class="table-danger text-center">Wydatki</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expenseSum in allUserExpenses %}
                                <tr>
                                    <td>Suma Twoich wydatków:</td>
                                    {% if expenseSum.sum > 0 %}
                                    <td  class="text-center"> {{ expenseSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}  
                                </tr>
                                {% endfor %}
                                {% for transportSum in allTransport %}
                                <tr>
                                    <td>Transport:</td>
                                    {% if transportSum.sum > 0 %}
                                    <td  class="text-center"> {{ transportSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for booksSum in allBooks %}
                                <tr>
                                    <td>Książki:</td>
                                    {% if booksSum.sum > 0 %}
                                    <td  class="text-center"> {{ booksSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for foodSum in allFood %}
                                <tr>
                                    <td>Jedzenie:</td>
                                    {% if foodSum.sum > 0 %}
                                    <td  class="text-center"> {{ foodSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for apartSum in allApart %}
                                <tr>
                                    <td>Mieszkanie:</td>
                                    {% if apartSum.sum > 0 %}
                                    <td  class="text-center"> {{ apartSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for telecSum in allTelec %}
                                <tr>
                                    <td>Telekomunikacja:</td>
                                    {% if telecSum.sum > 0 %}
                                    <td  class="text-center"> {{ telecSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for healthSum in allHealth %}
                                <tr>
                                    <td>Zdrowie:</td>
                                    {% if healthSum.sum > 0 %}
                                    <td  class="text-center"> {{ healthSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for clothesSum in allClothes %}
                                <tr>
                                    <td>Ubrania:</td>
                                    {% if clothesSum.sum > 0 %}
                                    <td  class="text-center"> {{ clothesSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for hygienSum in allHygen %}
                                <tr>
                                    <td>Higiena:</td>
                                    {% if hygienSum.sum > 0 %}
                                    <td  class="text-center"> {{ hygienSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for kidsSum in allKids %}
                                <tr>
                                    <td>Dzieci:</td>
                                    {% if kidsSum.sum > 0 %}
                                    <td  class="text-center"> {{ kidsSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for recreatSum in allRecreat %}
                                <tr>
                                    <td>Rozrywka:</td>
                                    {% if recreatSum.sum > 0 %}
                                    <td  class="text-center"> {{ recreatSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for tripSum in allTrip %}
                                <tr>
                                    <td>Wycieczka:</td>
                                    {% if tripSum.sum > 0 %}
                                    <td  class="text-center"> {{ tripSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for savinSum in allSavin %}
                                <tr>
                                    <td>Oszczędności:</td>
                                    {% if savinSum.sum > 0 %}
                                    <td  class="text-center"> {{ savinSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for retiSum in allReti %}
                                <tr>
                                    <td>Emerytura:</td>
                                    {% if retiSum.sum > 0 %}
                                    <td  class="text-center"> {{ retiSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for debtSum in allDebt %}
                                <tr>
                                    <td>Spłata długów:</td>
                                    {% if debtSum.sum > 0 %}
                                    <td  class="text-center"> {{ debtSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for giftSum in allGift %}
                                <tr>
                                    <td>Darowizny:</td>
                                    {% if giftSum.sum > 0 %}
                                    <td  class="text-center"> {{ giftSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for anothSum in allAnoth %}
                                <tr>
                                    <td>Inne wydatki:</td>
                                    {% if anothSum.sum > 0 %}
                                    <td  class="text-center"> {{ anothSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                                </tbody>
                        </table>
                    </div>
                </div>
                <table class="table table-dark table-striped table-bordered border-light" id="incomes">
                    <thead>
                    <tr>
                        <th colspan="2" scope="col" class="table-warning text-center">Twoje saldo to:</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for expenseSum in allUserExpenses%}
                        {% for incomeSum in allUserIncomes%}
                    <tr>
                        <td colspan="2" class="text-center">{{ incomeSum.sum - expenseSum.sum }} zł</td>
                    </tr>
                    {% if incomeSum.sum > expenseSum.sum %}
                    <tr>
                        <td colspan="2" class="text-center table-success">Wybornie zarządzasz swoimi finansami</td>
                    </tr>
                    {% elseif expenseSum.sum > incomeSum.sum %}
                    <tr>
                        <td colspan="2" class="text-center table-danger">Wpadniesz w długi!!!</td>
                    </tr>
                    {% else %}
                        <td colspan="2" class="text-center table-info"> Widzę że lubisz życie na krawędzi</td>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>

                

                <div class="row">
                    <div class="col text-center" id="piechart_3d_income" style="height: 500px; margin-bottom: 30px;">
                        Przychody
                        <canvas id="incomeChart"></canvas>
                    </div>               
                    <div class="col text-center" id="piechart_3d_expense" style="height: 500px;">
                        Wydatki
                        <canvas id="expenseChart"></canvas>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<script>
var allSalary ='{% for salary in allSalary %}{{ salary.sum }}{% endfor %}';
var allIntrest ='{% for interst in allIntrest %}{{ interst.sum }}{% endfor %}';
var allAllegro = '{% for allegro in allAllegro %}{{ allegro.sum }} {% endfor %}';
var allAnother = '{% for another in allAnother %}{{ another.sum }}{% endfor %}';
var allUserIncomes = '{% for allUserIncomes in allUserIncomes %}{{ allUserIncomes.sum }}{% endfor %}';
var tekst = "Brak danych do wyświetlenia na wykresie!";

if (allUserIncomes == 0) {
    var div = document.getElementById('piechart_3d_income');
    div.textContent = tekst;
} else {
    var ctx = document.getElementById('incomeChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Wynagrodzenie', 'Inwestycje', 'Allegro', 'Inne'],
        datasets: [{
        data: [allSalary, allIntrest, allAllegro, allAnother],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)'
        ],
        borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)'
        ],
        borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
        position: 'bottom'
        },
        title: {
        display: true,
        text: 'Expenses'
        }
    }
    });
}


var allTransport = '{% for transport in allTransport %}{{ transport.sum }}{% endfor %}';
var allBooks = '{% for books in allBooks %}{{ books.sum }}{% endfor %}';
var allFood = '{% for food in allFood %}{{ food.sum }}{% endfor %}';
var allApart = '{% for apart in allApart %}{{ apart.sum }}{% endfor %}';
var allTelec = '{% for telec in allTelec %}{{ telec.sum }}{% endfor %}';
var allHealth = '{% for health in allHealth %}{{ health.sum }}{% endfor %}';
var allClothes = '{% for clothes in allClothes %}{{ clothes.sum }}{% endfor %}';
var allHygen = '{% for hygen in allHygen %}{{ hygen.sum }}{% endfor %}';
var allKids = '{% for kids in allKids %}{{ kids.sum }}{% endfor %}';
var allRecreat = '{% for recreat in allRecreat %}{{ recreat.sum }}{% endfor %}';
var allTrip = '{% for trip in allTrip %}{{ trip.sum }}{% endfor %}';
var allSavin = '{% for savin in allSavin %}{{ savin.sum }}{% endfor %}';
var allReti = '{% for reti in allReti %}{{ reti.sum }}{% endfor %}';
var allDebt = '{% for debt in allDebt %}{{ debt.sum }}{% endfor %}';
var allGift = '{% for gift in allGift %}{{ gift.sum }}{% endfor %}';
var allAnoth = '{% for anoth in allAnoth %}{{ anoth.sum }}{% endfor %}';
var allUserExpenses = '{% for allUserExpenses in allUserExpenses %}{{ allUserExpenses.sum }}{% endfor %}';

if (allUserExpenses == 0) {
    var div = document.getElementById('piechart_3d_expense');
    div.textContent = tekst;
} else {
    var ctx = document.getElementById('expenseChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Transport', 'Książki', 'Jedzenie', 'Mieszkanie', 'Telekomunikacja', 'Zdrowie', 'Ubrania', 'Higiena', 'Dzieci', 'Rozrywka', 'Napiwki', 'Oszczędności', 'Emerytura', 'Długi', 'Prezenty', 'Inne'],
        datasets: [{
          data: [allTransport, allBooks, allFood, allApart, allTelec, allHealth, allClothes, allHygen, allKids, allRecreat, allTrip, allSavin, allReti, allDebt, allGift, allAnoth],
          backgroundColor: [
            '#e6194B',
            '#3cb44b',
            '#ffe119',
            '#0082c8',
            '#f58231',
            '#911eb4',
            '#46f0f0',
            '#f032e6',
            '#d2f53c',
            '#fabebe',
            '#008080',
            '#e6beff',
            '#aa6e28',
            '#fffac8',
            '#800000',
            '#aaffc3'
          ],
          borderColor: [
            '#800000',
            '#aaffc3',
            '#e6194B',
            '#3cb44b',
            '#ffe119',
            '#0082c8',
            '#f58231',
            '#911eb4',
            '#46f0f0',
            '#f032e6',
            '#d2f53c',
            '#fabebe',
            '#008080',
            '#e6beff',
            '#aa6e28',
            '#fffac8'
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          position: 'bottom'
        },
        title: {
          display: true,
          text: 'Expenses'
        }
      }
    });
}
</script>
{% endblock %}