{% extends 'base.html' %}

{% block title %}Bilans{% endblock %}


{% block body %}

<div class="container text-center">
    <div class="row align-items-start">
        <div class="col p-5" >
            <form action="/balance/show" method="post">
                <h3> Pokaż bilans swoich finansów </h3>

                <p>Tu możesz sprawdzić stan swoich finansów.</p>

                <div class="form-group mt-1">
                    <legend class="col-sm-2 col-form-label col-form-label-sm"> Kategoria: </legend>
                    <select class="form-select" multiple aria-label="multiple select example" name = "selectTimePeriode" id="myselect">
                        <option selected value = 0>Bieżący miesiąc</option>
                        <option value = 1>Poprzedni miesiąc</option>
                        <option value = 2>Bieżący rok</option>
                        <option value = 3 data-bs-toggle="modal" data-bs-target="#exampleModal">Niestandardowy</option>
                    </select> 

                    <div class="form-group p-3">
                        <button class="btn btn-success" type="submit" class="btn btn-default">Pokaż bilans</button>
                        <a class="nav-link" href="/balance/new">Anuluj</a>
                    </div> 

                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">  
                                <div class="modal-header">
                                    <h4>Wybierz niestatndardowy przedział czasowy</h3>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <fieldset>
                                        <legend class="col-sm-2 col-form-label col-form-label-sm"> Data początku</legend>
                                        <input class="form-control"  type="date" value="current_date" name = "dateBegin" min="2000-01-01" id="dateBegin">
                                    </fieldset>
                                    <fieldset>
                                        <legend class="col-sm-2 col-form-label col-form-label-sm"> Data końca</legend>
                                        <input class="form-control"  type="date" value="current_date" name = "dateEnd" min="2000-01-01" id="dateEnd">
                                    </fieldset>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                                    <button class="btn btn-success" type="submit">Pokaż bilans</button>
                                </div>
                        </div>
                    </div>
                </div>
            </form>                    
            <div class="container text-center">
                <div class="container text-center">
                    <h3>Nowy bilans</h3>
                </div>  
                <div class="row align-items-start">
                    <div class="col">
                        <table class="table table-dark table-striped table-bordered border-light" id="incomes">
                            <thead>
                            <tr>
                                <th colspan="2" scope="col" class="table-success text-center">Przychody</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for incomeSum in allUserIncomes %}
                            <tr>
                                <td>Suma Twoich przychodów:</td>
                                {% if incomeSum.sum > 0 %}
                                <td  class="text-center"> {{ incomeSum.sum }} zł</td> 
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% for salary in allSalary %}
                            <tr>
                                <td>Wynagrodzenie:</td>
                                {% if salary.sum > 0 %}
                                <td class="text-center" id="salary">{{ salary.sum }} zł</td> 
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %}                     
                            </tr>
                            {% endfor %}
                            {% for interst in allIntrest %}
                            <tr>
                                <td>Odsetki bankowe:</td>
                                {% if interst.sum > 0 %}
                                 <td class="text-center" id="interst">{{ interst.sum }} zł</td>
                                 {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %} 
                            </tr>
                            {% endfor %}
                            {% for allegro in allAllegro %}
                            <tr>
                                <td>Sprzedaż na Allegro:</td>
                                {% if allegro.sum > 0 %}
                                <td class="text-center" id="allegro">{{ allegro.sum }} zł</td>
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %} 
                            </tr>
                            {% endfor %}
                            {% for another in allAnother %}
                            <tr>
                                <td>Inne przychody:</td>
                                {% if another.sum > 0 %}
                                <td class="text-center" id="another">{{ another.sum }} zł</td>
                                {% else %}
                                <td  class="text-center"> 0 zł</td> 
                                {% endif %} 
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col">
                        <table class="table table-dark table-striped table-bordered border-light" id="expense">
                            <thead>
                                <tr>
                                    <th colspan="2" scope="col" class="table-danger text-center">Wydatki</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expenseSum in allUserExpenses %}
                                <tr>
                                    <td>Suma Twoich wydatków:</td>
                                    {% if expenseSum.sum > 0 %}
                                    <td  class="text-center"> {{ expenseSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}  
                                </tr>
                                {% endfor %}
                                {% for transportSum in allTransport %}
                                <tr>
                                    <td>Transport:</td>
                                    {% if transportSum.sum > 0 %}
                                    <td  class="text-center" id="transportSum"> {{ transportSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for booksSum in allBooks %}
                                <tr>
                                    <td>Książki:</td>
                                    {% if booksSum.sum > 0 %}
                                    <td  class="text-center" id="booksSum"> {{ booksSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for foodSum in allFood %}
                                <tr>
                                    <td>Jedzenie:</td>
                                    {% if foodSum.sum > 0 %}
                                    <td  class="text-center" id="foodSumm"> {{ foodSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for apartSum in allApart %}
                                <tr>
                                    <td>Mieszkanie:</td>
                                    {% if apartSum.sum > 0 %}
                                    <td  class="text-center" id="apartSum"> {{ apartSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for telecSum in allTelec %}
                                <tr>
                                    <td>Telekomunikacja:</td>
                                    {% if telecSum.sum > 0 %}
                                    <td  class="text-center" id="telecSum"> {{ telecSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for healthSum in allHealth %}
                                <tr>
                                    <td>Zdrowie:</td>
                                    {% if healthSum.sum > 0 %}
                                    <td  class="text-center" id="healthSum"> {{ healthSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for clothesSum in allClothes %}
                                <tr>
                                    <td>Ubrania:</td>
                                    {% if clothesSum.sum > 0 %}
                                    <td  class="text-center" id="clothesSum"> {{ clothesSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for hygienSum in allHygen %}
                                <tr>
                                    <td>Higiena:</td>
                                    {% if hygienSum.sum > 0 %}
                                    <td  class="text-center" id="hygienSum"> {{ hygienSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for kidsSum in allKids %}
                                <tr>
                                    <td>Dzieci:</td>
                                    {% if kidsSum.sum > 0 %}
                                    <td  class="text-center" id="kidsSum"> {{ kidsSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for recreatSum in allRecreat %}
                                <tr>
                                    <td>Rozrywka:</td>
                                    {% if recreatSum.sum > 0 %}
                                    <td  class="text-center" id="recreatSum"> {{ recreatSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for tripSum in allTrip %}
                                <tr>
                                    <td>Wycieczka:</td>
                                    {% if tripSum.sum > 0 %}
                                    <td  class="text-center" id="tripSum"> {{ tripSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for savinSum in allSavin %}
                                <tr>
                                    <td>Oszczędności:</td>
                                    {% if savinSum.sum > 0 %}
                                    <td  class="text-center" id="savinSum"> {{ savinSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for retiSum in allReti %}
                                <tr>
                                    <td>Emerytura:</td>
                                    {% if retiSum.sum > 0 %}
                                    <td  class="text-center" id="retiSum"> {{ retiSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for debtSum in allDebt %}
                                <tr>
                                    <td>Spłata długów:</td>
                                    {% if debtSum.sum > 0 %}
                                    <td  class="text-center" id="debtSum"> {{ debtSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for giftSum in allGift %}
                                <tr>
                                    <td>Darowizny:</td>
                                    {% if giftSum.sum > 0 %}
                                    <td  class="text-center" id="giftSum" id="booksSum"> {{ giftSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                {% for anothSum in allAnoth %}
                                <tr>
                                    <td>Inne wydatki:</td>
                                    {% if anothSum.sum > 0 %}
                                    <td  class="text-center" id="anothSum"> {{ anothSum.sum }} zł</td>
                                    {% else %}
                                    <td  class="text-center"> 0 zł</td> 
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                                </tbody>
                        </table>
                    </div>
                </div>
                <table class="table table-dark table-striped table-bordered border-light" id="incomes">
                    <thead>
                    <tr>
                        <th colspan="2" scope="col" class="table-warning text-center">Twoje saldo to:</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for expenseSum in allUserExpenses%}
                        {% for incomeSum in allUserIncomes%}
                    <tr>
                        <td colspan="2" class="text-center">{{ incomeSum.sum - expenseSum.sum }} zł</td>
                    </tr>
                    {% if incomeSum.sum > expenseSum.sum %}
                    <tr>
                        <td colspan="2" class="text-center table-success">Wybornie zarządzasz swoimi finansami</td>
                    </tr>
                    {% elseif expenseSum.sum > incomeSum.sum %}
                    <tr>
                        <td colspan="2" class="text-center table-danger">Wpadniesz w długi!!!</td>
                    </tr>
                    {% else %}
                        <td colspan="2" class="text-center table-info"> Widzę że lubisz życie na krawędzi</td>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>

                

                <div class="row">
                    <div class="col" id="piechart_3d_income">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                        google.charts.load("current", {packages:["corechart"]});
                        google.charts.setOnLoadCallback(drawChart);						  
                        function drawChart() {	
                            var data = google.visualization.arrayToDataTable([
                            ['Suma Twoich przychodów', 'Kwota'],
                            ['Wynagrodzenie',  "1"],
                            ['Odsetki bankowe', "1"],
                            ['Sprzedaż na Allegro', "2"],
                            ['Inne przychodzy', "3"],
                            ]);							

                            var options = {
                            title: 'Przychody',
                            is3D: true,							  						  
                            };

                            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_income'));
                            chart.draw(data, options);
                        }
                        </script>							
                    </div>
                    <div class="col" id="piechart_3d_expense">
                        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                        <script type="text/javascript">
                        
                        google.charts.load("current", {packages:["corechart"]});
                        google.charts.setOnLoadCallback(drawChart);
                        
                        function drawChart() {
                            var data = google.visualization.arrayToDataTable([
                            ['Suma Twoich wydatków', 'Kwota'],
                            ['Transport', "2"],
                            //['Książki', number],
                            //['Jedzenie', {% for food in allFood %}{{ food.sum }} {% endfor %} ],
                            //['Mieszkanie', {% for apart in allApart %}{{ apart.sum }} {% endfor %} ],  
                            //['Telekomunikacja', {% for telec in allTelec %}{{ telec.sum }} {% endfor %} ],
                            //['Opieka Zdrowotna', {% for health in allHealth %}{{ health.sum }} {% endfor %} ],
                            //['Ubranie', {% for clothes in allClothes %}{{clothes.sum }} {% endfor %} ],
                            //['Higiena', {% for hygien in allHygen %}{{ hygien.sum }} {% endfor %} ],
                            //['Dzieci', {% for kids in allKids %}{{ kids.sum }} {% endfor %} ],
                            //['Rozrywka', {% for recreat in allRecreat %}{{ recreat.sum }} {% endfor %} ],
                            //['Wycieczka', {% for trip in allTrip %}{{ trip.sum }} {% endfor %} ],                            
                            //['Oszczędności', {% for savin in allSavin %}{{ savin.sum }} {% endfor %} ],
                            //['Na emeryturę', {% for reti in allReti %}{{ reti.sum }} {% endfor %} ],
                            //['Spłata długów', {% for debt in allDebt %}{{ debt.sum }} {% endfor %} ],
                            //['Darowizna', tdElem ],
                            //['Inne wydatki',  {% for anoth in allAnoth %}{{ anoth.sum }} {% endfor %} ]
                            ]);

                            var options = {
                            title: 'Wydatki',
                            is3D: true,
                            };							
                            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_expense'));	
                            
                            chart.draw(data, options);
                        }                           
                        </script>
                    </div>
                </div>
                <div class="container">
                    <canvas id="myChart"></canvas>
                  </div>
                
                  <script>
                    // Kod JavaScript do stworzenia wykresu
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                  </script>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block footer %}

{% endblock %}