{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block body %}
	<div class="container text-center">
		<div class="row align-items-start">
			<div class="col">
				{% if current_user %}
				<div class="col p-5" >
					<p></p>  
					<header>				                     
					<h1>Witaj {{ user.name }}!</h1>
						<p>Ta aplikacja ma za zadanie pomóc Ci w zarządzaniu Twoim budżetem.</p>
					</header>
					
					<p>Panel nawigacji</p>
					<p>Jeżeli chcesz dodać wydatek przejdż do zakładki: <a class="nav-link" href="/expenses/new">Wydatki</a></p>
					<br>
					<p>Jeżeli chcesz dodać przychód przejdż do zakładki: <a class="nav-link" href="/incomes/new">Przychody</a></p>								
					<br>
					<p>Jeżeli chcesz sprawdzić stan Twoich finansów skorzystaj z narzędia: <a class="nav-link" href="/balance/new">Bilans</a></p>								
					<br>
				</div>
				
				{% else %}
				<div class="col p-5 helloContainer">
				<h1><i>"Gentlemen don't talk about money..."</h1>
				<p><h2>They have money!</i></h2></p>
				<p><h3><b>Be a gentlemen!</b></h3></p>
				<button class="btn btn-success"><a class="nav-link" href="/signup/new">Zarejestruj się!</a></button>
					<p></p>
				<button class="btn btn-secondary"><a class="nav-link" href="/login">Zaloguj się jeśli masz już konto</a></button>
				</div>
				{% endif %}		
			</div>
		</div>
	</div>

{% endblock %}
