{% extends 'base.html' %}

{% block title %}Przychody{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col p-5" >
                <form action="/incomes/addIncome" method="post">
                    <div class="row justify-content-md-center text-center">
                        <div class="col-lg-6">    
                            <h3> Dodaj przychód </h3>
                            
                            <div class="form-group mt-1">					
                                <fieldset>						
                                    <legend class="col-sm-2 col-form-label col-form-label-sm"> Kwota: </legend>				
                                    <input class="form-control"  type="number" name="currency_field" step="0.01" min="0.00" id="currency-field" value="{{ income.amount }}" data-type="currency" placeholder="10.00 PLN" required>					
                                </fieldset>					
                            </div>
                            
                            <div class="form-group mt-1">				
                                <fieldset>						
                                    <legend class="col-sm-2 col-form-label col-form-label-sm"> Data: </legend>						
                                    <input class="form-control" id="date" type="date" value="{{ income.date_of_income }}" name = "date" min="2000-01-01" id="date" required>				
                                </fieldset>				
                            </div>
                            
                            <div class="form-group mt-1">		
                                <legend class="col-sm-2 col-form-label col-form-label-sm"> Kategoria: </legend>
                                    <select class="form-select" value="{{ income.income_category_assigned_to_user_id }}" name = "selectCategory">
                                        <option selected value = 0>Wynagrodzenie</option>
                                        <option value = 1>Odsetki bankowe</option>
                                        <option value = 2>Sprzedaż na allegro</option>
                                        <option value = 3>Inne</option>
                                    </select>
                            </div>
                        
                            <div class="form-group mt-3">
                                <label for="comment"> Komentarz (opcjonalnie): </label>
                                <textarea class="form-control" name="comment" id="comment" maxlength="100" minlength="5"  placeholder="To jest miejsce na Twoje notatki"></textarea>
                                
                            </div>
                            
                            <div class="form-group p-3">
                                <button class="btn btn-success" type="submit" class="btn btn-default">Dodaj</button>
                                <a class="nav-link" href="/incomes/new">Anuluj</a>
                            </div>	
                        </div>	
                    </div>
                </form>
            </div>
        </div>
    </div>
    

{% endblock %}
