<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Zapanuj nad swoimi finansami"/>
    <meta name="keywords" content="budżet, finanse, oszczędzanie, pieniądze, wydatki, przychody, szczęście"/> 
    <title>{% block title %}Aplikacj budżetwa{% endblock %}</title>
    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/main.css" />
	
</head>
<body>
	
	<div class="container">
	
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="/">Strona domowa</a></li>
                    {% if current_user %}
                        <li><a href="/incomes">Przychody</a></li>
                        <li><a href="/expenses">Wydatki</a></li>
                        <li><a href="/balance">Bilans</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">                    
                    {% if current_user %}
                        <li><a href="/profile/show">Twój profil</a></li>
                        <li><a href="/logout">Wyloguj się</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

		 {% for message in flash_messages %}
			<div class="alert alert-{{ message.type }}">
				{{ message.body }}
			</div>
		{% endfor %}

		{% block body %}
		{% endblock %}
		
	</div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>

    {% block footer %}
    {% endblock %}
</body>
</html>
