{% extends "base.html" %}

{% block title %}Twój profil{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Twój profil</h1>
    </div> 
	
	<dl class="row">
        <dt class="col-sm-1">Imię:</dt>
        <dd class="col-sm-11">{{ user.name }}</dd>
        <dt class="col-sm-1">E-mail:</dt>
        <dd class="col-sm-11">{{ user.email }}</dd>
    </dl>
	
    <p></p>
    <div class="container text-center">
        <a class="nav-link" href="/profile/edit">Edytuj profil</a>
    </div>
	

{% endblock %}
